.logo1 {
  font-family: 'Microsoft YaHei';
  color: #fff;
  font-size: 2rem;
  font-weight: 400;

}




.logo1 a {
  color:  #343a40;
  text-decoration: none;
}

.logo {
  font-family: 'Microsoft YaHei';
  color: #343a40;
  font-size: 2rem;
  font-weight: 400;

}




.logo a {
  color:  #343a40;
  text-decoration: none;
}

.prompt {
  font-family: 'Clicker Script', cursive;
  color:  #343a40;
}

footer {
  font-size: .9rem;
}

footer a {
  color: #212529;
}

.myjumbotron {

    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #f8f9ff!important; 
    border-radius: .3rem;


}



.btn-student {
  color: #fff;
  background-color: #91afb6;
  border-color: #91afb6;
}

.btn-student:hover,
.btn-student:active {
  color: #fff;
  background-color: #608993;
  border-color: #608993;
}

.btn-teacher {
  color: #fff;
  background-color: #8980a5;
  border-color: #8980a5;
}

.btn-teacher:hover,
.btn-teacher:active {
  color: #fff;
  background-color: #66598B;
  border-color: #66598B;
}

.has-danger .radio,
.has-danger .checkbox {
  color: #dc3545;
}

.has-danger .invalid-feedback {
  display: block;
}